#about-team {
  background: linear-gradient(to bottom,  #0166FF 0%,#0166FF 50%,#FFFFFF 50%,#FFFFFF 100%);
  padding: 110px 0px 90px 0px;
  color: #0166FF;
}
#about-team .team {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
#about-team .team h2 {
  margin: 0 0 150px 80px;
  font-size: 4.6rem;
  color: #fff;
}
#about-team .team h2:before {
  font-family: arial;
  content: "\25A0 ";
  font-size: 9rem;
  color: #00CB00;
  padding-right: 50px;
}
#about-team .team .profile {
  width: 100%;
  max-width: 450px;
  padding: 0 30px 0 30px;
  display: inline-table;
  text-align: left;
}
#about-team .team .profile img {
  width: 100%;
  max-width: 410px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.52);
  -moz-box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.52);
  box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.52);
}
#about-team .team .profile h2 {
  margin-top: 55px;
  font-size: 4.5rem;
}
#about-team .team .profile p {
  font-size: 2.5rem;
  line-height: 3rem;
}
@media only screen and (max-width: 1358px) {
  #about-team .team {
    background: linear-gradient(to bottom,  #0166FF 0%,#0166FF 34%,#FFFFFF 34%,#FFFFFF 100%);
    text-align: center;
  }
  #about-team .team h1 {
    text-align: left;
  }
}
@media only screen and (max-width: 904px) {
  #about-team .team {
    background: linear-gradient(to bottom,  #0166FF 0%,#0166FF 20%,#FFFFFF 20%,#FFFFFF 100%);
  }
}
@media only screen and (max-width: 600px) {
  #about-team .team {
    background: linear-gradient(to bottom,  #0166FF 0%,#0166FF 16%,#FFFFFF 16%,#FFFFFF 100%);
    text-align: left;
  }
  #about-team .team h1 {
    margin: 0 0 100px 30px;
  }
  #about-team .team h1:before {
    display: none;
  }
  #about-team .team .profile {
    width: 100%;
    max-width: 100%;
  }
  #about-team .team .profile img {
    max-width: 150px;
    margin: 0 0;
  }
  #about-team .team .profile h2 {
    font-size: 3.5rem;
  }
}
