#contact-form {
  color: #fff;
  background: #0166FF;
}
#contact-form .form {
  width: 100%;
  max-width: 1580px;
  padding: 0 200px;
  margin: 0 auto;
}
#contact-form .form h1 {
  padding: 180px 0 200px 0;
  font-size: 5rem;
  margin: 0;
  line-height: 6.8rem;
}
#contact-form .form #columns {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
}
#contact-form .form label {
  font-size: 2rem;
}
#contact-form .form .message {
  width: 100%;
  max-width: 530px;
  font-size: 2rem;
  color: #fff;
  background: transparent;
}
#contact-form .form input, #contact-form .form textarea {
  width: 100%;
  max-width: 530px;
  font-size: 3.5rem;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 10px solid #FF20A4;
  margin-right: 10px;
  margin-bottom: 90px;
  padding-top: 10px;
  padding-bottom: 27px;
}
#contact-form .form input:nth-child(2), #contact-form .form input:nth-child(4), #contact-form .form input:nth-child(6) {
  margin-left: 10%;
}
#contact-form .form input:nth-child(3), #contact-form .form input:nth-child(4) {
  border-bottom: 10px solid #00CB00;
}
#contact-form .form input:nth-child(5), #contact-form .form input:nth-child(6) {
  border-bottom: 10px solid #fff;
}
#contact-form .form input:nth-child(7), #contact-form .form textarea {
  width: 95%;
  border-bottom: 10px solid #C4C4C4;
}
#contact-form .form button {
  font-size: 3.5rem;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 3px solid #FF20A4;
  margin-bottom: 150px;
  padding: 0;
  cursor: pointer;
}
#contact-form .hidden {
  display: none;
}
@media only screen and (max-width: 1440px) {
  #contact-form .form {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 1350px) {
  #contact-form .form input:nth-child(2), #contact-form .form input:nth-child(4), #contact-form .form input:nth-child(6) {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 1270px) {
  #contact-form .form {
    padding-bottom: 10px;
  }
  #contact-form .form #columns {
    display: block;
  }
  #contact-form .form input, #contact-form .form textarea {
    max-width: 100%;
  }
  #contact-form .form input:nth-child(2), #contact-form .form input:nth-child(4), #contact-form .form input:nth-child(6) {
    margin-left: 0px;
  }
  #contact-form .form button {
    display: block;
    text-align: left;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 670px) {
  #contact-form .form input, #contact-form .form textarea {
    border-bottom: 5px solid #FF20A4;
  }
  #contact-form .form input:nth-child(3), #contact-form .form input:nth-child(4) {
    border-bottom: 5px solid #00CB00;
  }
  #contact-form .form input:nth-child(5), #contact-form .form input:nth-child(6) {
    border-bottom: 5px solid #fff;
  }
  #contact-form .form input:nth-child(7), #contact-form .form textarea {
    border-bottom: 5px solid #C4C4C4;
  }
}
@media only screen and (max-width: 540px) {
  #contact-form .form {
    padding: 0 14% 50px 14%;
  }
  #contact-form .form h1 {
    padding: 80px 0 100px 0;
    font-size: 4rem;
  }
  #contact-form .form input, #contact-form .form textarea {
    margin-bottom: 70px;
    padding-bottom: 25px;
  }

}
@media only screen and (max-width: 470px) {
  #contact-form .form input, #contact-form .form textarea {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 370px) {

}
