#contact-address .address {
  max-width: 1580px;
  padding-left: 200px;
  margin: 0 auto;
  color: #0166FF;
  font-size: 3.5rem;
  height: 420px;
}
#contact-address .address p {
  float: left;
  padding-right: 170px;
  margin-top: 95px;
}
#contact-address .address address {
  float: left;
  padding-right: 300px;
  margin-top: 95px;
  font-style: normal;
  line-height: normal;
}
#contact-address .address address a {
  color: #0166FF;
  text-decoration: none;
}
#contact-address .address address .addressemail {
  padding-top: 50px;
  display: block;
}
#contact-address .address .br {
  display: block;
}
