#contact-address .address {
  width: 100%;
  max-width: 1580px;
  padding-left: 200px;
  margin: 0 auto;
  color: #0166FF;
  font-size: 3.5rem;
  height: 420px;
}
#contact-address .address p {
  float: left;
  padding-right: 170px;
  margin-top: 95px;
}
#contact-address .address address {
  float: left;
  padding-right: 300px;
  margin-top: 95px;
  font-style: normal;
  line-height: normal;
}
#contact-address .address address a {
  color: #0166FF;
  text-decoration: none;
}
#contact-address .address address .addressemail {
  padding-top: 50px;
  display: block;
}
#contact-address .address .br {
  display: block;
}
@media only screen and (max-width: 1440px) {
  #contact-address .address {
    padding-left: 100px;
  }
}
@media only screen and (max-width: 1187px) {
  #contact-address .address p {
    float: none;
    padding-right: 0;
    margin-top: 95px;
  }
  #contact-address .address address {
    float: none;
    padding-right: 0;
    margin-top: 95px;
  }
}
@media only screen and (max-width: 540px) {
  #contact-address .address {
    padding-left: 25px;
  }
}
@media only screen and (max-width: 470px) {
  #contact-address .address {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 370px) {
  #contact-address .address {
    padding-left: 11px;
    text-align: center;
    font-size: 2.3rem;
  }
}
