/* place this code elsewhere maybe layout? */

html, body {
  height: 100%;
}
main {
  min-height: 100%;
  padding-bottom: 671.5px;
}

/* used sticky footer solution from https://css-tricks.com/couple-takes-sticky-footer/ */
footer {
  width: 100%;
  height: 671.5px;
  margin-top: -671.5px;
  background-color: #0066FF;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
  font-size: 2.65rem;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-inner {
  max-width: 1800px;
  height: 671.5px;
  margin: 0 auto;
  padding: 73.5px 100px 0 100px;
  line-height: 5.7rem;
}
.social-media {
  width: 139.5px;
  margin-right: 66px;
  float: left;
}
.contact {
  float: left;
}
.social-media a, .contact a {
  display: block;
}
.copyright {
  font-size: 1.7rem;
  color: #FFFFFF;
  float: left;
  width: 100%;
}
