#home-casestudies {
  background: linear-gradient(to bottom, #62A0FF 0%,#62A0FF 30%,#F7F7F7 30%,#F7F7F7 100%);
  padding: 120px 0px 370px 0px;
  text-align: center;
}
#home-casestudies .cases {
  max-width: 400px;
  padding: 0 100px 0 100px;
  text-align: left;
  display: inline-table;
}
#home-casestudies .cases img {
  max-width: 335px;
  display: block;
  margin: 0 auto;
}
#home-casestudies .cases:nth-child(2) img {
  padding: 0 5px 33px 5px;
}
#home-casestudies .cases h2, #home-casestudies .cases p {
  color: #0166FF;
}
#home-casestudies .cases h2 {
  width: 100%;
  max-width: 335px;
  min-height: 90px;
  line-height: 4.5rem;
  margin: 0 0 50px 0;
  font-size: 4.7rem;
}
#home-casestudies .cases p {
  width: 100%;
  max-width: 415px;
  line-height: 3rem;
  margin-bottom: 33px;
}
#home-casestudies .cases a, #home-casestudies .cases a:link, #home-casestudies .cases a:visited, #home-casestudies .cases a:hover, #home-casestudies .cases a:active {
  color: #0166FF;
  border-bottom: 3px solid #FF20A4;
}
#home-casestudies .cases p, #home-casestudies .cases a {
  font-size: 2.8rem;
  text-decoration: none;
}
@media only screen and (max-width: 1234px) {
  #home-casestudies .cases {
    max-width: 350px;
    padding: 0 10% 0 10%;
  }
  #home-casestudies .cases h2 {
    font-size: 3.7rem;
  }
  #home-casestudies .cases img {
    max-width: 275px;
  }
}
@media only screen and (max-width: 923px) {
  #home-casestudies .cases {
    padding: 0 5% 0 5%;
  }
}
@media only screen and (max-width: 704px) {
  #home-casestudies {
    background: none;
    padding: 0;
    text-align: center;
  }
  #home-casestudies .cases {
    background: linear-gradient(to bottom,  #62A0FF 0%,#62A0FF 30%,#F7F7F7 30%,#F7F7F7 100%);
    padding: 120px 7% 120px 7%;
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  #home-casestudies .cases {
    padding: 120px 30px 120px 30px;
  }
}
