#pinky {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: 1;
}
.pink-strip {
  width: 1500px;
  opacity: 0.85;
  display: block;
  margin: 0 auto 0 auto;
  position: relative;
}
#home-masthead img {
  display: block;
  margin: auto;
}
.headline, .reviews-content {
  max-width: 1800px;
  margin: 0 auto;
}
.headline {
  text-align: center;
  padding: 0 100px 0 100px;
  margin-bottom: -200px;
}
.headline h1 {
  font-size: 4.5rem;
  color: #0166FF;
  text-align: center;
  margin: 0 auto;
  padding: 220px 0 100px 0;
  width: 610px;
  line-height: 4.3rem;
}
.case-studies {
  width: 1000px;
}
.reviews-back {
  background: #0166FF;
  color: #fff;
}
.reviews-content {
  padding: 365px 200px 60px 200px;
}
.reviews-content img {
  width: 127px;
  height: 127px;
  float: left;
  margin: 0 20px 20px 20px;
  padding: 0 20px 0 0;
  box-sizing: content-box;
}
.reviews-content p, .reviews-content blockquote, .reviews-content a {
  font-size: 2.5rem;
}
.reviews-content a {
  border-bottom: 4px solid #FF20A4;
}
.reviews-content blockquote {
  width: 1150px;
  margin: 0;
  padding: 20px 0 30px 0;
  line-height: 3.3rem;
}
.reviews-content p {
  padding-left: 67px;
}
.reviews-content h2 {
  font-size: 4.3rem;
  padding-bottom: 25px;
}
.reviews-content h2:before {
  font-family: arial;
  content: "\25A0 ";
  font-size: 6rem;
  color: #00CB00;
  padding-right: 30px;
}
