#home-casestudies {
  background: linear-gradient(to bottom,  #62A0FF 0%,#62A0FF 30%,#F7F7F7 30%,#F7F7F7 100%);
  padding: 130px 0px 400px 0px;
  text-align: center;
}
#home-casestudies .cases {
  width: 400px;
  padding: 0 100px 0 100px;
  display: inline-table;
  text-align: left;
}
#home-casestudies .cases img {
  width: 300px;
  display: block;
  margin: 0 auto;
}
#home-casestudies .cases h2, #home-casestudies .cases p {
  color: #0166FF;
}
#home-casestudies .cases h2 {
  width: 335px;
  min-height: 90px;
  line-height: 4.5rem;
}
#home-casestudies .cases p {
  width: 415px;
  line-height: 3rem;
}
#home-casestudies .cases a, #home-casestudies .cases a:link, #home-casestudies .cases a:visited, #home-casestudies .cases a:hover, #home-casestudies .cases a:active {
  color: #0166FF;
  border-bottom: 4px solid #FF20A4;
}
#home-casestudies .cases h2 {
  font-size: 4.7rem;
}
#home-casestudies .cases p, #home-casestudies .cases a {
  font-size: 2.8rem;
  text-decoration: none;
}
