/* Global */

@font-face {
	font-family: "FF DIN Regular";
	src: url("/fonts/ff-din-regular.eot?#iefix");
	src: url("/fonts/ff-din-regular.eot?#iefix") format("eot"), url("/fonts/ff-din-regular.woff2") format("woff2"), url("/fonts/ff-din-regular.woff") format("woff"), url("/fonts/ff-din-regular.ttf") format("truetype");
}

@font-face {
	font-family: "FF DIN Bold";
	src: url("/fonts/ff-din-bold.eot?#iefix");
	src: url("/fonts/ff-din-bold.eot?#iefix") format("eot"), url("/fonts/ff-din-bold.woff2") format("woff2"), url("/fonts/ff-din-bold.woff") format("woff"), url("/fonts/ff-din-bold.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: "FF DIN Regular", helvetica, sans-serif;
	font-size: 16px;
}

img {
	max-width: 100%;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}



/* Typography */

h2 {
	font-size: 40px;
	line-height: 1.5;
	font-weight: normal;
	color: #ffffff;
}

p {
	font-size: 50px;
	line-height: 80px;
	color: #bbbbbb;
}

.highlight p {
	color: #ffffff;
}

li {
	list-style: none;
}

a:link, a:visited, a:hover, a:active {
	color: #0066ff;
	text-decoration: none;
}

strong {
	font-family: "FF DIN Bold";
}

@media screen and (max-width: 1500px) {
	h2 {
		font-size: 35px;
	}
}

@media screen and (max-width: 1250px) {
	h2 {
		font-size: 30px;
	}
}

@media screen and (max-width: 1000px) {
	h2 {
		font-size: 25px;
	}
}

@media screen and (max-width: 750px) {
	h2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 500px) {
	h2 {
		font-size: 15px;
	}
}



/* Containers */

.header-inner, .footer-inner, .block-inner {
	max-width: 1500px;
	margin: 0 auto;
}

header, .block, footer {
	padding: 0 10%;
}

.block {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #ffffff;
}

.highlight {
	background-color: #0066ff;
}

.highlight h2 {
	margin-top: -10px;
}

@media screen and (max-width: 1500px) {
	header, .block, footer {
		padding-left: 5%;
		padding-right: 5%;
	}
	.block {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

@media screen and (max-width: 1250px) {
	header, .block, footer {
		padding-left: 4%;
		padding-right: 4%;
	}
	.block {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media screen and (max-width: 1000px) {
	header, .block, footer {
		padding-left: 3%;
		padding-right: 3%;
	}
	.block {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media screen and (max-width: 750px) {
	header, .block, footer {
		padding-left: 2%;
		padding-right: 2%;
	}
	.block {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}


@media screen and (max-width: 500px) {
	.block {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.highlight h2 {
		margin-top: -5px;
	}
}



/* Header */

header .header-inner {
	padding: 50px 0;
}

header img {
	width: 100px;
	vertical-align: top;
}

header nav {
	float: right;
	padding-top: 5px;
}

header nav li {
	float: left;
	display: inline-block;
	font-family: "FF DIN Bold";
	font-size: 20px;
	line-height: 40px;
	margin-left: 50px;
	width: 100px;
	height: 43px;
	border-radius: 5px;
	text-align: center;
	background-color: #ffffff;
}

header nav li.selected {
	color: #ffffff;
	background-color: #ff0099;
}

header nav li a:link, header nav li a:visited, header nav li a:hover, header nav li a:active {
	display: block;
	color: #ff0099;
	text-decoration: none;
}

@media screen and (max-width: 1250px) {
	header nav li {
		margin-left: 40px;
	}
}

@media screen and (max-width: 1000px) {
	header nav li {
		margin-left: 30px;
	}
}

@media screen and (max-width: 750px) {
	header .header-inner {
		padding: 25px 0;
	}
	header img {
		width: 75px;
	}
	header nav {
		padding-top: 4px;
	}
	header nav li {
		font-size: 16px;
		line-height: 30px;
		margin-left: 15px;
		width: 75px;
		height: 32px;
	}
}

@media screen and (max-width: 450px) {
	header .header-inner {
		padding: 15px 0;
	}
	header img {
		width: 65px;
	}
	header nav {
		padding-top: 5px;
	}
	header nav li {
		font-size: 14px;
		line-height: 20px;
		margin-left: 7px;
		width: 56px;
		height: 24px;
	}
}



/* Footer */

footer {
	background-color: #0066ff;
}

.footer-inner {
	padding: 100px 0;
}

.footer-inner-container {
	width: 600px;
	margin: 0 auto;
}

.logo-container, .text-container {
	width: 300px;
	float: left;
}

.logo-container {
	padding-right: 37.5px;
}

.logo-container img {
	float: right;
}

.text-container {
	padding-left: 37.5px;
}

.text-container ul {
	margin-bottom: 100px;
}

.text-container ul li {
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 30px;
	color: #ffffff;
}

.text-container ul li a {
	text-decoration: none;
	color: #ffffff;
}

.text-container p {
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
}

@media screen and (max-width: 700px) {
	.footer-inner {
		padding: 100px 0;
	}
}

@media screen and (max-width: 700px) {
	.footer-inner-container {
		width: auto;
	}
}

@media screen and (max-width: 700px) {
	.logo-container, .text-container {
		width: 100%;
		float: none;;
	}
	.logo-container {
		padding-right: 0;
	}
	.logo-container img {
		float: none;
		margin: 0 auto;
		display: block;
		margin-bottom: 75px;
	}
	.text-container {
		padding-left: 0;
	}
	.text-container ul {
		margin-bottom: 75px;
	}
	.text-container ul li {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.text-container p {
		font-size: 20px;
		line-height: 20px;
	}
}



/* Work */

.preview, .summary {
	width: 50%;
}

.preview {
	float: left;
}

.summary {
	float: right;
	padding-left: 61.5px;
}

.cisco-1 {
	margin-top: 28px;
}

.epicure-1 {
	margin-top: 132px;
}

.epicure-2 {
	margin-top: 107px;
}

.img-container {
	margin-bottom: 115px;
}

.img-container img {
	margin-right: 164px;
}

.img-container img:last-child {
	margin-right: 0;
}

.center {
	text-align: center;
}
