/* Global */
@font-face {
  font-family: "FF DIN Regular";
  src: url("/fonts/ff-din-regular.eot?#iefix");
  src: url("/fonts/ff-din-regular.eot?#iefix") format("eot"), url("/fonts/ff-din-regular.woff2") format("woff2"), url("/fonts/ff-din-regular.woff") format("woff"), url("/fonts/ff-din-regular.ttf") format("truetype");
}
@font-face {
  font-family: "FF DIN Bold";
  src: url("/fonts/ff-din-bold.eot?#iefix");
  src: url("/fonts/ff-din-bold.eot?#iefix") format("eot"), url("/fonts/ff-din-bold.woff2") format("woff2"), url("/fonts/ff-din-bold.woff") format("woff"), url("/fonts/ff-din-bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: "FF DIN Regular", helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
}
img {
  display: block;
  vertical-align: bottom;
  max-width: 100%;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.highlight {
  background-color: #0066FF;
}
.clear {
  clear: both;
}


/* Typography */
h1, h2, p {
  font-size: 36px;
  font-family: "FF DIN Regular";
  font-weight: normal;
  color: #FFFFFF;
}
strong {
  font-family: "FF DIN Bold";
}


/* Containers */
section, header {
  padding: 80px 0;
  clear: both;
}
.block-inner {
  max-width: 1120px;
  margin: 0 auto;
}



/* Header */


/* Portfolio */
.portfolio img {
  float: left;
  margin: 0 40px 80px 0;
}
.portfolio h2 {
  margin: 0 0 40px 0;
  color: #000000;
}



/* Media Queries */

@media screen and (max-width: 1500px) {
}
@media screen and (max-width: 1250px) {
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 750px) {
}
@media screen and (max-width: 500px) {
}
