/* Fonts */

@font-face {
  font-family: "ProximaSoft-Regular";
  src: url('/fonts/ProximaSoft-Regular.woff2') format('woff2'),
       url('/fonts/ProximaSoft-Regular.woff') format('woff');
}
@font-face {
  font-family: "ProximaSoft-Italic";
  src: url('/fonts/ProximaSoft-Italic.woff2') format('woff2'),
       url('/fonts/ProximaSoft-Italic.woff') format('woff');
}
@font-face {
  font-family: "ProximaSoft-Bold";
  src: url('/fonts/ProximaSoft-Bold.woff2') format('woff2'),
       url('/fonts/ProximaSoft-Bold.woff') format('woff');
}


/* Top Level */

html {
  font-size: 62.5%;
}
body {
  font-family: "ProximaSoft-Regular", helvetica, arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}


/* Headings */

h1 {}
h2 {}
h3 {}


/* Paragraphs and Lists */

p {}
li {}
ul {}
ol {}


/* Bold & Italics */

strong {
  font-family: "ProximaSoft-Bold", helvetica, arial, sans-serif;
}
em {
  font-family: "ProximaSoft-Italic", helvetica, arial, sans-serif;
}


/* Links */

a:link {}
a:visited {}
a:hover {}
a:active {}
