header {
  width: 100%;
  height: 160px;
}
.header-inner {
  max-width: 1600px;
  height: 160px;
  margin: 0 auto;
  padding: 0 91px;
}
.logo, .home-logo-link {
  display: block;
  position: relative;
  width: 400px;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 10px;
}
.home-logo-link img {
  display: block;
  width: 400px;
}
nav {
  float: right;
  margin-top: 25px;
}
nav .selected, nav a:link, nav a:visited, nav a:hover, nav a:active {
  font-size: 3.5rem;
  color: #FFFFFF;
  text-decoration: none;
}
nav span:first-child, nav a:first-child {
  margin-right: 64px;
}
nav .selected {
  border-bottom: 3px solid #FFFFFF;
}
nav .hamburger {display: none;}
@media only screen and (max-width: 897px) {
  .header-inner {
    padding: 0 71px;
  }
  .home-logo-link {
    width: 100px;
  }
  .home-logo-link img {
    display: none;
  }
  .home-logo-link:before {
    content: "\0020 ";
    display: block;
    width: 100px;
    height: 68px;
    background-size: cover;
    background-image: url('/svg/logo-white.svg');
  }
}
@media only screen and (max-width: 577px) {
  header {
    height: 226px;
  }
  .header-inner {
    padding: 0 10%;
  }
  nav .hamburger {
    display: block;
    width: 58px;
    margin-top: -60px;
    margin-right: 0px !important;
  }
  nav #myMobileLinks {
    width: 100% !important;
    z-index: 1;
    position: absolute;
    left: 0;
    margin-top: 50px;
    padding: 20px 10% 20px 0;
    display: none;
    text-align: right;
  }
}
@media only screen and (min-width: 577px) {
  nav .hamburger {
    display: none;
  }
  nav #myMobileLinks {
    display: block;
  }
}
